* {
    font-family: 'Noto Sans', sans-serif;
    margin: initial;
}

header {
    display: flex;
    flex-direction: column;
}

header > div {
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 32px;  /*de base c'est 35px voir 36.2778px*/
    /*position: fixed;*/
}

header > div > span, header > div > span > a {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-left: 28px;
    color: #a0e081;
    text-decoration: none;
    font-size: 9.5px; /*de base c'est 11px */
    font-family: Helvetica Neue ,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1.5;
    line-height: initial;
}

header > div > span:hover, header > div > span > a:hover {
    color: white;
    text-decoration: underline;
}

header > div > ul,  header > div > ul > li a {
    color: #93cd76;
    list-style-type: none;
    text-transform: uppercase;
    align-content: center;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    padding-right: 30px;
    font-size: .75rem;
    font-weight: 700;
    text-decoration: none;
}

header > div > ul:hover,  header > div > ul > li a:hover {
    color: white
}

header > div > ul > li > a:visited {
    color: #93cd76;
} 



header > nav {
    background-color:#171615;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 85px;
} 

/*header > nav, header > nav > ul > li, header > nav > span, header > nav > a {      
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;

}  */

header > nav > ul, header > nav > ul > li {
    color:white;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    padding-right: 13px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.96px;
    line-height: 18px;
}

header > nav > ul > li > a > img {
    margin-left: 5px;
}

header > nav > ul > li > a,  header > nav > ul > li > a:visited {
    text-decoration: none;
    color: white;
}

header > nav > ul >li:first-of-type {
    padding-right: 30px;
}

header > nav > span > a > img {
    width: 200px;              
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-right: 330px;
}  

header > nav > div {
    color: white ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    text-decoration: none;
    padding-right: 13px;
    padding-left: 13px;
}

header > nav > div > a  {
    text-decoration: none;
}

header > nav > div > a > button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    background-color: #3c8527;
    box-shadow: inset 0 4px #52a535, inset 0 -4px #2a631c;
    height: 3rem;
    width: 15rem;
    border: 0px;
    margin-right: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25rem;
}

header > nav > div > a > button:hover {
    background-color: #2a641c;
    cursor: pointer;
}

header > nav > div > a:visited {
    color: white;
    text-decoration: none;
} 





main > section:nth-of-type(1) {
    background-image: url(https://www.minecraft.net/content/dam/minecraft/home/home-hero-1200x600.jpg);
    background-position: top;
    background-repeat: no-repeat;  
    background-color: black;
    background-size: 1080px;   
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    text-align: left;
    color: white;
}

main > section:nth-of-type(1) > article > h1 {
    text-transform: uppercase;
    font-size: 33px;    /*de base 36px*/
    font-weight: 700;
    line-height: 36px;    /*de base 35 px*/
    padding-bottom: 10px;  /*de base 15px */
    letter-spacing: 1px;
}

main > section:nth-of-type(1) > article > p {
    color: white;
    font-size: 18px;
    padding-bottom: 13px; /*de base 20 */
}

main > section:nth-of-type(1) > article > div {
    text-decoration: none;
    padding-top: 30px;
    color: white;
} 

main > section:nth-of-type(1) > article > div > a > button, main > section:nth-of-type(5) > article > button {
    background-color: #3b8526;
    box-shadow: inset 0 4px #6bc349, inset 0 -4px #2a631c, 0 4px rgb(0 0 0 / 25%); 
    color: white;
    border: 0;
    text-transform: uppercase;
    font-size: large;
    font-weight: 600;
    line-height: 3;
    padding: 5px 50px;
}

main > section:nth-of-type(1) > article > div > a > button:hover, main > section:nth-of-type(5) > article > button:hover {
    background-color: #171615;
    transition: all .25s, opacity .75s .5s;
    box-shadow: inset 0 0 0 2px #1157be;
    /*border: outset 1.5px white;*/
    background-image: linear-gradient(#3d3938,#171615);
    cursor: pointer;
}

main > section:nth-of-type(1) > article > div > a:visited, main > section:nth-of-type(1) > article > div > a > button:visited, main > section:nth-of-type(5) > article > button, main > section:nth-of-type(5) > article > button:visited {
    color: white;
    text-decoration: none;
}






main > section:nth-of-type(2) {
    background-image: url(https://www.minecraft.net/content/dam/minecraft/backgrounds/bg-wool-dark.png);
    background-repeat: repeat;
    padding: 50px 250px 0px 250px;
    display: flex;
    justify-content: center;
}

main > section:nth-of-type(2) > article {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 80px 50px 55px 50px;
    width: 1050px;
}

main > section:nth-of-type(2) > article > h1 {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    align-items: flex-start;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
} 

main > section:nth-of-type(2) > article > span > div > a {
    padding-top: 20px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #196d17;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

main > section:nth-of-type(2) > article > span > div > a:hover {
    color: black;
}

main > section:nth-of-type(2) > article > span > div > a:visited {
    text-decoration: none;
}





main > section:nth-of-type(3) {
    background-image: url(https://www.minecraft.net/content/dam/minecraft/backgrounds/bg-wool-dark.png);
    background-repeat: repeat;
    height: 575px;
}           

main > section:nth-of-type(3) > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 50px
}

main > section:nth-of-type(3) > article > h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    padding-bottom: 50px;
}

main > section:nth-of-type(3) > article > div > a > img {
    padding-bottom: 25px;
    padding-right: 30px;
} 

main > section:nth-of-type(3) > article > div > p {
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
    padding-left: 25px;
    padding-top: 10px;
    color: white;
}

main > section:nth-of-type(3) > article > div > a {
    padding-top: 20px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

main > section:nth-of-type(3) > article > div > a > span > img:hover {
    border: solid 3px #2a631c;
    /*toujours le problème de la bordure qu ibouge l'image*/

} 






main > section:nth-of-type(4) {
    background-image: url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/feature-content/trans-top-darkwool.png), url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/feature-content/trans-bottom-darkwool.png), url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/feature-content/bg-wool-light.png);
    background-repeat: repeat-x, repeat-x, repeat;
    background-position: top, bottom, top;  
    padding: 150px 300px 150px 300px; 
}

main > section:nth-of-type(4) > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 115px;
    padding-right: 115px;
}

main > section:nth-of-type(4) > article > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

main > section:nth-of-type(4) > article > div > img {
    height: 300px;
    padding-bottom: 65px;
}

main > section:nth-of-type(4) > article > div > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 25px;
    padding-left: 25px;
}

main >section:nth-of-type(4) > article > div > span > h1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

main > section:nth-of-type(4) > article > div > span > a, main > section:nth-of-type(4) > article > div > span > a:visited {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #196d17;
    padding-top: 20px;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
}

main > section:nth-of-type(4) > article > div > span > a > img {
    height: 15px;
    margin-right: 5px;
}






main > section:nth-of-type(5) {
    background-image: url(https://www.minecraft.net/content/dam/minecraft/backgrounds/bg-wool-dark.png);
    background-repeat: repeat-x;
    background-position: top;
    height: 150px;
}

main > section:nth-of-type(5) > article, main > section:nth-of-type(5) > article > div {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main > section:nth-of-type(5) > article > div > h1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 50px;
}

main > section:nth-of-type(5) > article > div > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

main > section:nth-of-type(5) > article > div > a > img {
    height: 15px;
    margin-right: 5px;
}

main > section:nth-of-type(5) > article > div > a, main > section:nth-of-type(4) > article > div > span > a:visited {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #196d17;
    padding-top: 20px;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 75px;
}

main > section:nth-of-type(5) > article > span > a, main > section:nth-of-type(5) > article > span > a > img {
    padding-right: 4px;
    padding-bottom: 75px;
}

main > section:nth-of-type(5) > article > p {
    padding-top: 100px;
}






footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
}

footer > section:nth-of-type(1) {
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 50px;
}


footer > section:nth-of-type(1) > a, footer > section:nth-of-type(1) > a > img {
    height: 50px;
}


@media screen {
    main > section:nth-of-type(1) > article {
        padding: 78px 925px 50px 525px;   /*remettre à l'afpa padding-right 980px padding-left450*/
        line-height: 23px;  /*de base 26px interline du paragraphe*/
    }
}

@media (max-width: 960px) {
    main > section:nth-of-type(1) > article { /*demi-écran pc*/
        padding: 85px 200px 50px 80px;
        line-height: 23px;  /*de base 26px interline du paragraphe*/
    }
}

@media screen {
    main > section:nth-of-type(2) > article > span {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: baseline;
        padding: 45px
    }
    main > section:nth-of-type(2) > article > span > div > a > img {
        height: 380px;
        width: auto;
        padding-bottom: 25px;
        padding-right: 30px;
    } 
    main > section:nth-of-type(2) > article > span > div > p {
        font-size: 14px;
        text-align: center;
        padding-right: 10px;
        padding-left: 25px;
        padding-top: 10px;
    }
    
    /*main > section:nth-of-type(2) > article > span > div > a > img:hover {    effet de zoom avec bordure verte au passage de souris (que en screen)
        box-shadow: inset 0 0 0 2px #1157be;
    } */
}

@media (max-width: 960px) {
    main > section:nth-of-type(2) > article > span > div:nth-of-type(3) {
        display: none;
    }
    main > section:nth-of-type(2) > article > span {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: baseline;
        padding: 45px
    }
    main > section:nth-of-type(2) > article > span > div > a > img {
        height: 350px;
        width: auto;
        padding-bottom: 25px;
        padding-right: 30px;
    }   
    main > section:nth-of-type(2) > article > span > div:not() > p {
        font-size: 14px;
        text-align: center;
        padding-right: 10px;
        padding-left: 25px;
        padding-top: 10px;
    }
    main > section:nth-of-type(2) > article > span > div > a {
        padding-top: 20px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        color: #196d17;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        justify-content: center;
    }
}