* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    --bg-hover-icon : black;
}

header {
    display: flex;
    flex-direction: column;
}

header > div {
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 32px;  /*de base c'est 35px voir 36.2778px*/
    /*position: fixed;*/
}

header > div > a {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin-left: 28px;
    color: #a0e081;
    text-decoration: none;
    font-size: 10px; /*de base c'est 11px */
    font-family: Helvetica Neue ,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1.5;
    line-height: initial;
}

header > div > a:hover {
    color: white;
    text-decoration: underline;
}

header > div > ul,  header > div > ul > li a {
    color: #93cd76;
    list-style-type: none;
    text-transform: uppercase;
    align-content: center;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    padding-right: 30px;
    font-size: .75rem;
    font-weight: 700;
    text-decoration: none;
}

header > div > ul:hover,  header > div > ul > li a:hover {
    color: white
}

header > div > ul > li > a:visited {
    color: #93cd76;
} 



header > nav {
    background-color:#171615;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 85px;
} 

/*header > nav {
    position: sticky;
    top: 0px;
    left: 0px;
}  */

header > nav > ul, header > nav > ul > li {
    color:white;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    padding-right: 13px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.96px;
    line-height: 18px;
}

header > nav > ul > li > a > img {
    margin-left: 5px;
}

header > nav > ul > li > a,  header > nav > ul > li > a:visited {
    text-decoration: none;
    color: white;
}

header > nav > ul > li > a:hover, header > nav > ul > li > a > img:hover, header > nav > ul > li:hover {
    color: #93cd76;
    filter: brightness(0) saturate(100%) invert(79%) sepia(64%) saturate(296%) hue-rotate(48deg) brightness(98%) contrast(83%);
}

header > nav > ul >li:first-of-type {
    padding-right: 30px;
}

header > nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    width: 225px;              
    padding-right: 290px;
} 

header > nav > div {
    color: white ;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    text-decoration: none;
    padding-right: 13px;
    padding-left: 13px;
}

header > nav > div > a  {
    text-decoration: none;
}

header > nav > div > a > button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    background-color: #3c8527;
    box-shadow: inset 0 4px #52a535, inset 0 -4px #2a631c;
    height: 3rem;
    width: 15rem;
    border: 0px;
    right: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25rem;
}

header > nav > div > a > button:hover {
    background-color: #2a641c;
    cursor: pointer;
}

header > nav > div > a:visited {
    color: white;
    text-decoration: none;
} 





main > section:nth-of-type(1) {
    background-image: url(https://www.minecraft.net/content/dam/minecraft/home/home-hero-1200x600.jpg);
    background-position: top;
    background-repeat: no-repeat;  
    background-color: black;
    background-size: 1200px;   
    height: 500px;
    color: white;
    padding: 100px 910px 0px 450px;
}

/*main > section:nth-of-type(1) {
       remettre à l'afpa padding-right 980px padding-left450,de base 26px interline du paragraphe 
    line-height: 23px; 
}*/

main > section:nth-of-type(1) > h1 {
    text-transform: uppercase;
    font-size: 36px;    /*de base 36px*/
    font-weight: 700;
    line-height: 40px;    /*de base 35 px*/
    padding-bottom: 10px;  /*de base 15px */
    letter-spacing: 1px;
}

main > section:nth-of-type(1) > p {
    color: white;
    font-size: 18px;
    padding-bottom: 20px; /*de base 20 */
    line-height: 25px;
}

main > section:nth-of-type(1) > a {
    text-decoration: none;
    padding-top: 30px;
    color: white;
} 

main > section:nth-of-type(1) > a > button, main > section:nth-of-type(5) > a > button {
    background-color: #3b8526;
    box-shadow: inset 0 4px #6bc349, inset 0 -4px #2a631c, 0 4px rgb(0 0 0 / 25%); 
    color: white;
    border: 0;
    text-transform: uppercase;
    font-size: large;
    font-weight: 600;
    line-height: 3;
    padding: 5px 50px;
}

main > section:nth-of-type(1) > a > button:hover, main > section:nth-of-type(5) > button:hover {
    background-color: #171615;
    transition: all .25s, opacity .75s .5s;
    box-shadow: inset 0 0 0 2px #1157be;
    /*border: outset 1.5px white;*/
    background-image: linear-gradient(#3d3938,#171615);
    cursor: pointer;
}

main > section:nth-of-type(1) > article > a:visited, main > section:nth-of-type(1) > article > a > button:visited, main > section:nth-of-type(5) > article > button, main > section:nth-of-type(5) > article > button:visited {
    color: white;
    text-decoration: none;
}






main > section:nth-of-type(2) {
    background-image: url(https://www.minecraft.net/content/dam/minecraft/backgrounds/bg-wool-dark.png);
    background-repeat: repeat;
    padding: 50px 250px 0px 250px;
    display: flex;
    justify-content: center;
}

main > section:nth-of-type(2) > article {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 80px 50px 55px 50px;
    width: 1050px;
}

main > section:nth-of-type(2) > article > h1 {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    align-items: flex-start;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
} 

main > section:nth-of-type(2) > article > span > div > a {
    padding-top: 20px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #196d17;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

main > section:nth-of-type(2) > article > span > div > a:hover {
    color: black;
}

main > section:nth-of-type(2) > article > span > div > a:visited {
    text-decoration: none;
}





main > section:nth-of-type(3) {
    background-image: url(https://www.minecraft.net/content/dam/minecraft/backgrounds/bg-wool-dark.png);
    background-repeat: repeat;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 50px
}           

main > section:nth-of-type(3) > h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    padding-bottom: 50px;
}

main > section:nth-of-type(3) > div > a > img {   /* a revoir la bordur verte, voir html qui a changer*/
    padding-bottom: 25px;
    padding-right: 30px;
} 

main > section:nth-of-type(3) > div > p {
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
    padding-left: 25px;
    padding-top: 10px;
    color: white;
}

main > section:nth-of-type(3) > div > a {
    padding-top: 20px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    
}

main > section:nth-of-type(3) > div > a > img:hover {
    border: solid 3px #2a631c;
    /*toujours le problème de la bordure qu ibouge l'image*/

} 






main > section:nth-of-type(4) {
    background-image: url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/feature-content/trans-top-darkwool.png), url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/feature-content/trans-bottom-darkwool.png), url(https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/feature-content/bg-wool-light.png);
    background-repeat: repeat-x, repeat-x, repeat;
    background-position: top, bottom, top;  
    padding: 150px 235px 150px 235px; 
}

main > section:nth-of-type(4) > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*padding-left: 115px;
    padding-right: 115px;*/
}

main > section:nth-of-type(4) > article > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

main > section:nth-of-type(4) > article > div > img {
    height: 300px;
    padding-bottom: 65px;
}

main > section:nth-of-type(4) > article > div > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 25px;
    padding-left: 25px;
}

main >section:nth-of-type(4) > article > div > span > h1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

main > section:nth-of-type(4) > article > div > span > a, main > section:nth-of-type(4) > article > div > span > a:visited {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #196d17;
    padding-top: 20px;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
}

main > section:nth-of-type(4) > article > div > span > a > img {
    height: 15px;
    margin-right: 5px;
}






main > section:nth-of-type(5) {
    background-image: url(https://www.minecraft.net/content/dam/minecraft/backgrounds/bg-wool-dark.png);
    background-repeat: repeat-x;
    background-position: top;
    height: 150px;
}

main > section:nth-of-type(5) > article, main > section:nth-of-type(5) > article > div {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main > section:nth-of-type(5) > article > div > h1 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 50px;
}

main > section:nth-of-type(5) > article > div > p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

main > section:nth-of-type(5) > article > div > a > img {
    height: 15px;
    margin-right: 5px;
}

main > section:nth-of-type(5) > article > div > a, main > section:nth-of-type(4) > article > div > span > a:visited {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #196d17;
    padding-top: 20px;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 75px;
}

main > section:nth-of-type(5) > article > span > a, main > section:nth-of-type(5) > article > span > a > img {
    padding-right: 4px;
    padding-bottom: 75px;
}

main > section:nth-of-type(5) > article > p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    padding-top: 100px;
    margin-right: 300px;
    margin-left: 300px;
}






footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 925px;
    bottom: 0;
    left: 0;
    font-family: Helvetica Neue , Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: #111;
}

footer > section:nth-of-type(1) {
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
}

footer > section:nth-of-type(1) > h3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 10px;
}

footer > section:nth-of-type(1) > div, footer > section:nth-of-type(1) > div > a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 40px;
}

footer > section:nth-of-type(1) > div > a > img:not(a) {
    padding-right: 25px;
    padding-left: 25px;
}

.socialicon :hover{
    background-color: var(--bg-hover-icon);
}





footer > section:nth-of-type(2){
    margin: 60px 175px 60px 175px;
    background-color: #111;
    height: 310px;
    color: white;
    display: flex;
    flex-direction: row;
}

footer > section:nth-of-type(2) > span, footer > section:nth-of-type(2) > div, footer > section:nth-of-type(2) > img {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
}

footer > section:nth-of-type(2) > span > div {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

footer > section:nth-of-type(2) > span > div > img {
    height: 110px;
    padding-right: 70px;
    padding-bottom: 40px;
}

footer > section:nth-of-type(2) > span > p {
    color: #d1cfce;
    padding-bottom: 10px;
}

footer > section:nth-of-type(2) > span > ul, footer > section:nth-of-type(2) > span > ul > li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    color: #a0e080;
}

footer > section:nth-of-type(2) > span > ul > li + li {
    border-left: 1px solid #fff;
    padding-right: 5px;
    padding-left: 5px;
}

/*footer > section:nth-of-type(2) > span > ul > li:last-of-type {
    padding-right: 250px;
}*/




footer > section:nth-of-type(2) > div {
    display: flex;
    flex-direction: row;
    color: #a0e080;
}

footer > section:nth-of-type(2) > div > span > ul > li > h3, footer > section:nth-of-type(2) > div > div > ul > li > h3 {
    color: white;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 15px;
}

footer > section:nth-of-type(2) > div > span > ul, footer > section:nth-of-type(2) > div > div > ul {
    list-style-type: none;
    padding-bottom: 12px;
    line-height: 21px;
}

footer > section:nth-of-type(2) > div > span > ul > li, footer > section:nth-of-type(2) > div > div > ul > li {
    display: flex;
    flex-wrap: wrap;
}

footer > section:nth-of-type(2) > div > div {
    padding-right: 110px;
}

footer > section:nth-of-type(2) > div > span {
    padding-right: 50px;
}

footer > section:nth-of-type(2) > img {
    height: 125px;
    width: auto;
}

footer > section:nth-of-type(2) a:visited, footer > section:nth-of-type(2) a {
    color: #a0e080;
    text-decoration: none;
}

footer > section:nth-of-type(2) a:hover {
    color: white;
    transition-duration: 0.5s;
}



footer > section:nth-of-type(3) > ul, footer > section:nth-of-type(3) > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 12px;
    list-style-type: none;
    height: 90px;
    background-color: #313131;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 400;
}

footer > section:nth-of-type(3) > ul > li:first-of-type, footer > section:nth-of-type(3) > ul > li:last-of-type {
    padding-right: 60px;
    padding-left: 60px;
}

footer > section:nth-of-type(3) > ul > li:first-of-type > img {
    height: 25px;
    padding-right: 7px;
}

footer > section:nth-of-type(3) a:visited, footer > section:nth-of-type(3) a {
    text-decoration: none;
    color: white;
}







@media screen {
    footer > section:nth-of-type(2) > span {
        margin-left: 190px;
    }
    footer > section:nth-of-type(2) > img {
        margin-right: 190px;
    }
    
}

@media screen {
    main > section:nth-of-type(1) > article {
        padding: 5px 0px 0px 10px;   /*remettre à l'afpa padding-right 980px padding-left450*/
        line-height: 23px;  /*de base 26px interline du paragraphe*/
    }
}

@media (max-width: 960px) {
    main > section:nth-of-type(1) > article { /*demi-écran pc*/
        padding: 85px 200px 50px 80px;
        line-height: 23px;  /*de base 26px interline du paragraphe*/
    }
}

@media screen {
    main > section:nth-of-type(2) > article > span {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: baseline;
        padding: 45px
    }
    main > section:nth-of-type(2) > article > span > div > a > img {
        height: 380px;
        width: auto;
        padding-bottom: 25px;
        padding-right: 30px;
    } 
    main > section:nth-of-type(2) > article > span > div > p {
        font-size: 14px;
        text-align: center;
        padding-right: 10px;
        padding-left: 25px;
        padding-top: 10px;
    }
    
    /*main > section:nth-of-type(2) > article > span > div > a > img:hover {    effet de zoom avec bordure verte au passage de souris (que en screen)
        box-shadow: inset 0 0 0 2px #1157be;
    } */
}

@media (max-width: 960px) {
    main > section:nth-of-type(2) > article > span > div:nth-of-type(3) {
        display: none;
    }
    main > section:nth-of-type(2) > article > span {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: baseline;
        padding: 45px
    }
    main > section:nth-of-type(2) > article > span > div > a > img {
        height: 350px;
        width: auto;
        padding-bottom: 25px;
        padding-right: 30px;
    }   
    main > section:nth-of-type(2) > article > span > div:not() > p {
        font-size: 14px;
        text-align: center;
        padding-right: 10px;
        padding-left: 25px;
        padding-top: 10px;
    }
    main > section:nth-of-type(2) > article > span > div > a {
        padding-top: 20px;
        padding-left: 30px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        color: #196d17;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        justify-content: center;
    }
}